node_modules
.next
.vercel
.env
.env*.local
.DS_Store
awesome-design-md/
.claude/
*.jpg

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
